@using Application.Services;
@using Application.Models.Post;

@model List<ViewPostModel>;

<h4>Tin liên quan</h4>
<div class="row">
    @foreach (var post in Model)
    {

        bool displayColumn = Convert.ToBoolean(ViewData["DisplayColumn"]);
        string className = displayColumn ? "col-sm-12 col-md-6 col-lg-4" : "col-12";
        <div class="@className mb-2 pb-2">
            <a class="text-decoration-none text-black" href="/Posts/@post.Slug">
                <div class="d-flex">
                    <div>
                        <h3 class="pe-1 fs-5">
                            @post.Title
                        </h3>
                        <span class="text-muted">@post.ViewCount lượt xem</span>
                    </div>
                    <div style="min-width: 180px; height: 110px">
                        <img src="/@post.CoverPhoto.Path" style="width: 100%; height: 100%" />
                    </div>
                </div>
            </a>
        </div>
    }
</div>