@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
        <div>
            <img style="width: 100%" src="https://cdnphoto.dantri.com.vn/D0qheUokvlOqjmPQs6qphStAbF8=/zoom/774_516/2024/07/11/img6860-1720671749076126166573-edited-1720674956727.jpeg" />
            <a href="#" class="text-decoration-none">
                <h4 class="text-black mt-3">Thủ tướng: Nghiên cứu tuyến đường sắt tốc độ cao với thiết kế 350km/h</h4>
            </a>
            <p class="text-muted">Để hoàn thành 1.541km đường sắt tốc độ cao vào năm 2035, Thủ tướng yêu cầu nghiên cứu hướng tuyến đường sắt tốc độ cao Bắc - Nam ngắn nhất, hiệu quả nhất; lựa chọn tốc độ thiết kế khoảng 350km/h.</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <h4>Tin mới nhất</h4>
        <div>
            <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                <div>
                    <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                    <span class="text-muted">121 lượt xem</span>
                </div>
                <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
            </a>

            <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                <div>
                    <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                    <span class="text-muted">121 lượt xem</span>
                </div>
                <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
            </a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h4>Tin tức</h4>
            <div>
                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>

                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h4>Thể thao</h4>
            <div>
                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>

                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h4>Thể thao</h4>
            <div>
                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>

                <a class="d-flex mb-2 text-decoration-none text-black" href="#">
                    <div>
                        <h3 class="pe-1 fs-6">Tai nạn trên cao tốc Hà Nội-Hải Phòng: Tông nhóm người đang dàn xếp va chạm</h3>
                        <span class="text-muted">121 lượt xem</span>
                    </div>
                    <img src="https://cdnphoto.dantri.com.vn/gG23olVOwlBDs7Dg6isCn3Rwdto=/zoom/192_128/2024/07/11/hien-truong-vu-tai-nan-edited-1720671874794.jpeg" />
                </a>
            </div>
        </div>
    </div>

</div>