<div class="text-center mt-3">
    <img src="~/images/notfound.png" style="width: 300px" />
    <h2>404 - Không tìm thấy trang</h2>
    <p>Xin lỗi, chúng tôi không tìm thấy trang bạn yêu cầu.</p>
</div>